.faq {
  display: flex;
  flex-direction: column;
  background-color: var(--nature-green);
  padding-bottom: 40px;
}

.faq h3 {
  text-align: center;
}

.faq article {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 8px auto;
  width: 90%;
}

.question {
  display: flex;
  align-items: center;
  width: 100%;
  height: auto;
  border-radius: 16px;
  background-color: var(--earth-dark);
  cursor: pointer;
  z-index: 1;
}

.question h4 {
  color: white;
  margin: 8px 0;
}

.question svg {
  margin: 0 16px;
  flex: none;
}

.answer {
  width: 100%;
  background-color: var(--light-grey);
  border-bottom-left-radius: 16px;
  border-bottom-right-radius: 16px;
  z-index: 0;
  filter: drop-shadow(0 -16px 0 var(--light-grey));
  padding: 0 16px;
}

.hidden {
  display: none;
}

@media screen and (min-width: 780px) {
  .faq article {
    margin: 16px;
  }

  .question {
    border-radius: 24px;
  }

  .answer {
    border-bottom-left-radius: 24px;
    border-bottom-right-radius: 23px;
    top: -48px;
    filter: drop-shadow(0 -24px 0 var(--light-grey));
  }
}
