* {
  box-sizing: border-box;
}
html {
  font-size: 16px;
}
@media screen and (min-width: 360px) {
  html {
    font-size: 24px;
  }
}
:root {
  --earth-dark: #3e2f2f;
  --light-grey: #e5e5e5;
  --lighter-grey: #f2f2f2;
  --nature-green: #9bdc91;
  --sky-blue: #a7d1da;
}
body {
  padding: 0;
  margin: 0;
  overflow-x: hidden;
  overflow-y: hidden;
}
body p,
body h1,
body h2,
body h3,
body h4,
body li {
  color: var(--earth-dark);
  font-family: "noto-sans";
}
