section.hero {
  position: relative;
}
section.hero img.hero-image {
  width: 100vw;
  min-height: 220px;
  max-height: 640px;
  object-fit: cover;
  object-position: center 10%;
}
div.hero-image-container {
  background-color: var(--sky-blue);
  margin-bottom: -6px;
}
@media screen and (min-width: 780px) {
  div.hero-image-container {
    background-color: inherit;
  }
}
h2.hero-title {
  writing-mode: vertical-lr;
  text-orientation: upright;
  position: absolute;
  left: 16px;
  top: 16px;
  margin: 0px;
}
@media screen and (min-width: 780px) {
  h2.hero-title {
    visibility: hidden;
  }
  div.about-us-text h2 {
    visibility: visible;
  }
}
section.hero div.about-us {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  background-color: var(--sky-blue);
}
section.hero div.about-us img {
  max-height: 180px;
  max-width: 86%;
  margin: 0px 24px;
}
div.about-us-text h2 {
  display: none;
}
div.about-us-text h3 {
  margin: 4px;
}
div.about-us-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 40px;
}
div.about-us-text p {
  margin: 4px;
  text-align: center;
}
@media screen and (min-width: 780px) {
  section.hero div.about-us img {
    visibility: hidden;
    width: 0%;
    height: 0%;
  }
  div.about-us-text h2 {
    display: block;
    font-size: 1rem;
    height: 100%;
    margin: 0;
  }
  div.about-us-text h3 {
    margin: 0;
    font-size: 0.75rem;
  }
  div.about-us-text {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
  }
  div.about-us-text {
    border-radius: 8px;
    background-color: var(--light-grey);
    width: 35%;
    position: absolute;
    top: 20%;
    left: 10%;
    padding: 16px;
  }
  div.about-us-text p {
    font-size: 0.65rem;
    text-align: center;
  }
  div.about-us-text p.slogan {
    font-style: italic;
  }
}
@media screen and (min-width: 780px) {
  div.about-us-text h2 {
    font-size: 1.25rem;
  }
  div.about-us-text h3 {
    font-size: 1rem;
  }
  div.about-us-text p {
    font-size: 0.75rem;
  }
}
@media screen and (min-width: 1024px) {
  div.about-us-text h2 {
    font-size: 1.5rem;
  }
  div.about-us-text h3 {
    font-size: 1.25rem;
  }
  div.about-us-text p {
    font-size: 1rem;
  }
}
