section.testimonials {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--nature-green);
  height: 200px;
  justify-content: center;
  padding-bottom: 30px;
}
div.testimonials-scroller {
  max-width: 100vw;
  min-height: 90px;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 24px;
  margin-left: 24px;
  overflow-y: hidden;
  overflow-x: scroll;
  white-space: nowrap;
  padding-right: 24px;
}
div.testimonials-scroller::-webkit-scrollbar {
  display: none;
}

div.testimonials-scroller {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

@media screen and (min-width: 780px) {
  section.testimonials {
    flex-direction: column;
    height: auto;
  }
  div.testimonials-scroller {
    flex-direction: column;
    overflow: visible;
    white-space: wrap;
  }
}
article.testimonial-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 224px;
  height: 74px;
  padding: 8px;
  border-radius: 16px;
  background-color: var(--light-grey);
  filter: drop-shadow(0 0 5px rgb(0, 0, 0, 0.25));
}
article.testimonial-container h4 {
  font-weight: 800;
  margin: 0;
  font-size: 0.75rem;
}
div.testimonial-profile {
  display: flex;
  flex-direction: column;
  align-self: center;
}
div.testimonial-profile p {
  font-weight: 800;
  margin: 0;
  font-size: 0.75rem;
  align-self: center;
}
div.testimonial-profile img {
  height: 48px;
  width: 48px;
  object-fit: cover;
  border-radius: 24px;
  border: 1px solid var(--earth-dark);
}
div.testimonial-info {
  display: flex;
  flex-direction: column;
  margin-right: 8px;
  width: 100%;
  margin-left: 8px;
}
div.testimonial-info p {
  font-weight: 400;
  width: 100%;
  flex: 1;
  margin: 0px;
}
div.testimonial-title {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
div.stars {
  display: flex;
  flex-direction: row;
}
svg.star {
  height: 12px;
  width: 12px;
  fill: var(--lighter-grey);
  filter: drop-shadow(0 0 1px rgb(0, 0, 0, 0.25));
}
svg.star.checked {
  fill: yellow;
}
div.testimonial-info p {
  font-size: 1rem;
}
@media screen and (min-width: 780px) {
  article.testimonial-container {
    min-width: 400px;
    max-width: 620px;
    max-height: 172px;
    width: auto;
    height: auto;
    gap: 24px;
  }
  article.testimonial-container h4 {
    font-size: 1.5rem;
    font-weight: 800;
  }
  div.testimonial-profile {
    align-items: center;
  }
  div.testimonial-profile p {
    font-size: 1rem;
  }
  div.testimonial-profile img {
    max-height: 100px;
    aspect-ratio: 1 / 1;
    border-radius: 46px;
  }
  div.testimonial-info {
    margin-left: 16px;
  }
  div.testimonial-info p {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    line-clamp: 2;
    -webkit-box-orient: vertical;
  }
  div.testimonial-title {
    height: 52px;
  }
  div.stars {
    gap: 4px;
  }
  svg.star {
    height: 24px;
    width: 24px;
  }
}
